{% extends "base.html" %}

{% block left_side %}
<form method="post" action="{% url 'shells_app:trainer' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-6 px-4">
            <div class="row py-4 px-2">
                <div class="col-12 size-48">
                    Configure your course
                </div>
            </div>
            <div class="row px-2">
                <div class="categories_div px-3">
                    <div class="row">
                        <div class="col-12 size-32 py-3">
                            Select the "Card content category" you want to train
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 third-text-color">
                            Card content category
                        </div>
                        <div class="col-6">
                            {% for category in object_list %}
                            <div class="row">
                                <label>
                                    <input type="checkbox" name="{{category.name}}" id="{{category.id}}" value="{{category.id}}" onchange="toggleBold(this)"> 
                                    {{category.name}}
                                </label>
                            </div>
                            {% empty %}
                            No categories yet
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="col-6 px-4">
            <div class="row">
                <div class="col-12 size-32">
                    Total cards to train
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Input a number of cards between 5 and 10
                </div>
            </div>
            <div class="row py-3">
                <div class="col-4">
                    Total cards to train
                </div>
                <div class="col-3">
                    <select class="form-select" name="total_cards" id="total_cards">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-danger">Start training session</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock left_side %}


{% block leftside_class %}
col-12 first-background-color
{% endblock %}

{% block rightside_class %}
d-none
{% endblock %}
{% block left_navigation_bar %} 
first-background-color
{% endblock %}