{% extends "base.html" %}
{% load static %}

{% block left_side %}
<div class="row size-48 pb-3">
    <div class="col-6">{{ usershell.shell.title }}</div>
    <div class="col-6 text-end">Card {{ current_session_shell }} of {{ shell_count }}</div>
</div>
<div class="row bg-white p-3">
    <div class="col-12 pb-3 size-32">
        Solution
    </div>
    <div class="col-12 pb-2 size-24 second-text-color">
        {{ usershell.shell.resolution_text}}
    </div>
    <div class="col-12 py-2">
        <img src="{{ usershell.shell.resolution_image.url}}" alt="Imagen 1" style="max-height: 400px;">
    </div>
    <div class="col-12">
        <div class="row py-4">
            <div class="col">
                <button class="btn btn-warning" hx-post="{% url 'shells_app:user-shell-liked' usershell.id %}"
                    hx-target="#liked-message">I liked the card</button>
                <div id="liked-message"></div>
            </div>
            <div class="col">
                <button class="btn btn-primary" hx-post="{% url 'shells_app:user-shell-easy' usershell.id %}"
                hx-target="#easy-message">It was easy</button>
                <div id="easy-message"></div>
            </div>
            <div class="col">
                <button class="btn btn-light" hx-post="{% url 'shells_app:user-shell-hard' usershell.id %}"
                hx-target="#hard-message">It was hard</button>
                <div id="hard-message"></div>
            </div>
            <div class="col">
                <a class="btn btn-secondary" href="{% url 'shells_app:user-shell-detail' usershell.id %}"
                >Redo card</a>
            </div>
            <div class="col">
                <a href="{% url 'shells_app:next-card' usershell.id %}" class="btn btn-danger">
                    {% if is_last_shell %}
                    Finish
                    {% else %}
                    Next card    
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock left_side %}

{% block leftside_class %}
col-12 first-background-color
{% endblock %}

{% block rightside_class %}
d-none
{% endblock %}

{% block left_navigation_bar %}
first-background-color
{% endblock %}