{% extends "base.html" %}
{% load static %}

{% block left_side %}
<div class="row size_subtitle p-5">
    <div class="col-12">Congratulations, you've finished your training!</div>
</div>
<div class="row px-5 pb-3">
    <div class="col-12 pb-3 px-5 size-32 bg-white">
        <div class="py-3 border-bottom col-2 border-danger border-5">{{ trainingsession.shell_count}}</div>
        <div class="py-3">Total of cards you have practiced during this session</div>
    </div>
</div>
<div class="row px-5 py-3">
    <div class="col-12 pb-3 px-5 size-32 bg-white">
        <div class="py-3 border-bottom col-8 col-sm-6 col-md-2 border-danger border-5">{{ time_spent_session_str }}</div>
        <div class="py-3">Time spent during the session</div>
    </div>
</div>
<div class="row px-5 py-3">
    <div class="col-12 pb-3 px-5 size-32 bg-white">
        <div class="py-3 border-bottom col-2 border-danger border-5">{{ card_count }}</div>
        <div class="py-3">Number of cards you have left to discover!</div>
    </div>
</div>
<div class="row size-24 px-5 pt-3 pb-5">
    <div class="col-12 col-md-3 pb-5">
        {% if request.user.is_authenticated %}
        <div class="row p-2">
            <a href="{% url 'shells_app:config' %}"
            type="button" class="btn btn-danger home-start-btn px-4 py-2 text-white">
                Sign up to train again
            </a>
        </div>
        {% else %}
        <div class="row p-2">
            <a href="{% url 'users_app:register' %}" type="button" class="btn btn-danger home-start-btn px-4 py-2 text-white">
                Sign up to train again
            </a>
        </div>
        {% endif %}
            
    </div>
</div>

{% endblock left_side %}

{% block leftside_class %}
col-12 first-background-color
{% endblock %}

{% block rightside_class %}
d-none
{% endblock %}

{% block leftnavbar_class %}first-background-color{% endblock %}