{% extends "base.html" %}
{% load static %}

{% block left_side %}
<div class="row size-48 pb-3">
    <div class="col-12">Congratulations, you've finished your training!</div>
</div>
<div class="row bg-white p-3">
    <div class="col-12 pb-3 size-32">
        Total cards = {{ trainingsession.shell_count}}
    </div>
    <div class="col-12 pb-3 size-32">
        Time spent seconds = {{ trainingsession.time_spent_session}}
    </div>
    <div class="col-12 pb-3 size-32">
        Number of cards you have left to discover = {{ card_count }}
    </div>
</div>
<div class="row px-2 size-24 pt-4">
    <div class="col-12">
        
        {% if request.user.is_authenticated %}
        <a href="{% url 'shells_app:config' %}" type="button" class="btn btn-danger home-start-btn px-4 py-2 text-white">
            Sign up to train again
        </a>
        {% else %}
        <a href="{% url 'users_app:login' %}" type="button" class="btn btn-danger home-start-btn px-4 py-2 text-white">
            Sign up to train again
        </a>
        {% endif %}
            
    </div>
</div>

{% endblock left_side %}

{% block leftside_class %}
col-12 first-background-color
{% endblock %}

{% block rightside_class %}
d-none
{% endblock %}

{% block left_navigation_bar %} 
first-background-color
{% endblock %}