{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Inaxia</title>
</head>

<body class="d-flex flex-column h-100 main_font">
    <header class="d-none d-md-block">
        <div class="row no-gutters mx-0">
            <div class="col navbar navbar-expand-md {% block leftnavbar_class %}bg-white{% endblock %}">
                <nav class="container navbar-light">
                    <ul class="navbar-nav w-100 d-flex justify-content-between">
                        <li class="nav-item ps-5">
                            <a href="/" class="col-6 size-24 text-decoration-none selected-text-color">
                                Home</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item ps-3">
                            <a href="{% url 'shells_app:config' %}"
                                class="col-6 text-end size-24 second-text-color text-decoration-none">Trainer</a>
                        </li>
                        {% else %}
                        <li class="nav-item ps-3">
                            <a href="{% url 'shells_app:config' %}" onclick="handleConfigClick(event)"
                                class="col-6 text-end size-24 second-text-color text-decoration-none">Trainer</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col navbar navbar-expand-md first-background-color">
                <nav class="container navbar-light justify-content-end">
                    <ul class="navbar-nav">

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'users_app:logout' %}"
                                class="size-24 font-weight-bold px-2 py-1 text-decoration-none">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'users_app:login' %}"
                                class="size-24 font-weight-bold px-2 py-1 text-decoration-none">
                                Login
                            </a>
                        </li>
                        {% endif %}

                        <li class="nav-item pe-5">
                            <a href="{% url 'users_app:register' %}"
                                class="size-24 text-white rounded third-background-color px-2 py-1 text-decoration-none">Join
                                Us
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.5 9.5C0.5 9.14013 0.625098 8.795 0.847772 8.54053C1.07045 8.28606 1.37246 8.1431 1.68737 8.1431H15.4442L10.3456 2.3193C10.1227 2.06451 9.99744 1.71894 9.99744 1.35861C9.99744 0.998286 10.1227 0.652718 10.3456 0.397929C10.5686 0.143139 10.871 0 11.1863 0C11.5016 0 11.804 0.143139 12.027 0.397929L19.1512 8.53932C19.2617 8.66536 19.3495 8.81509 19.4093 8.97995C19.4692 9.1448 19.5 9.32152 19.5 9.5C19.5 9.67848 19.4692 9.8552 19.4093 10.0201C19.3495 10.1849 19.2617 10.3346 19.1512 10.4607L12.027 18.6021C11.804 18.8569 11.5016 19 11.1863 19C10.871 19 10.5686 18.8569 10.3456 18.6021C10.1227 18.3473 9.99744 18.0017 9.99744 17.6414C9.99744 17.2811 10.1227 16.9355 10.3456 16.6807L15.4442 10.8569H1.68737C1.37246 10.8569 1.07045 10.7139 0.847772 10.4595C0.625098 10.205 0.5 9.85987 0.5 9.5Z"
                                        fill="white" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <header class="d-md-none">
        <nav class="navbar bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'shells_app:config' %}" class="nav-link">Trainer</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'shells_app:config' %}" onclick="handleConfigClick(event)"
                                class="nav-link">Trainer</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'users_app:logout' %}" class="nav-link">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'users_app:login' %}" class="nav-link">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item pe-5">
                            <a href="{% url 'users_app:register' %}" class="nav-link">Join Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid flex-grow-1">
        <div class="row h-100">
            <div class="{% block leftside_class %}col-6{% endblock %}">
                {% block left_side %}
                {% endblock %}
            </div>
            <div class="{% block rightside_class %}col-6{% endblock %} first-background-color">
                {% block right_side %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="footer fixed-bottom py-3 bg-light size-14">
        <div class="container">
            <div class="row py-md-2">
                <div class="col-8 col-md-6 ps-md-5">
                    <div class="row px-2">
                        <div class="col-12">
                            {% now "Y" %} © | Made by MiroViz Team
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-6 pe-md-5">
                    <div class="row px-2 text-end">
                        <a class="text-decoration-none third-text-color" href="mailto:yalit@inaxia.com">
                            Email us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>