{% extends "base.html" %}

{% block left_side %}
<div class="row h-100 p-5">
    <div class="row pb-5 px-2">
        <div class="col-12 size-64">
            Elevate your Communication Like Never Before
        </div>
    </div>
    <div class="row px-2 pt-5 second-text-color size-24">
        <div class="col-12">
            Learn to draw white board figure in less than 60 minutes.
        </div>
    </div>
    <div class="row px-2 size-24 pt-4">
        <div class="col-12">
            <a href="{% url 'shells_app:config' %}" onclick="handleConfigClick(event)" type="button"
                class="btn btn-danger home-start-btn px-4 py-2 text-white">
                Start Learning Now
            </a>
        </div>
    </div>

</div>
{% endblock left_side %}

{% block right_side %}
<div class="row p-5">
    <div class="col-12 size-48">
        The power of White Board Figure
    </div>
</div>
<div class="row p-5">
    <div class="col-12 size-24 second-text-color">
        MiroViz revolutionizes the way you communicate, enabling you to unleash the full impact of your message upon
        your interlocutors.
        <br> <br>
        Say goodbye to conventional drawing methods and embrace a new era of communication prowess. With MiroViz, you
        can effortlessly enhance the effect of your message, ensuring it resonates deeply with your audience.
    </div>
</div>
{% endblock right_side %}

{% block leftside_class %}
col-6 bg-white
{% endblock %}

{% block rightside_class %}
col-6 first-background-color
{% endblock %}